h1, h2, h3{
    background-color: lightgreen;
    text-align: center;
}
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
.tabs button {
    text-align: center;
    background-color: inherit;
    float:left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
.tabs button:hover {
    background-color: #ddd;
  }
.tabs button.active {
    background-color: #ccc;
  }
.tabcontent {
    text-align: center;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
.button_div{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}
.button_p{
    text-align: center;
}
.imgs{
    width: 220px;
    height: 220px;
}
.lbl{
    border-width: 2px;
    border-color: black;
    border-style: dashed;
}
.lbl > p{
    text-align: center;
    font-size: larger;
}